<a href="https://colab.research.google.com/github/MDavtalab/IBM_Data_Science_assignment/blob/main/DataScienceEcosystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*Exercise 2: Create markdown cell with title of the notebook*

# Data Science Tools and Ecosystem

*Exercise 3 - Create a markdown cell for an introduction*

In this notebook, Data Science Tools and Ecosystem are summarized.

*Exercise 10 - Insert a markdown cell to list Objectives*

***Objectives:***
* Create Markdone cell
* Create Tables in Markdown
* Create ordered and unordered lists in Markdown
* introducing arithmetic expression examples

*Exercise 4 - Create a markdown cell to list data science languages*

Some of the popular languages that Data Scientists use are:

 1. Python
 2. R
 3. SQL
 4. Scala
 5. Java
 6. Julia

*Exercise 5 - Create a markdown cell to list data science libraries*

Some of the commonly used libraries used by Data Scientists include:

 1. Pandas (Python)
 2. Numpy (Python)
 3. Matplotlib (Python)
 4. dplyr (R)
 5. ggplot (R)
 6. scikit-learn (Python)

*Exercise 6 - Create a markdown cell with a table of Data Science tools*

# Data Science Tools

| Data Science Tools |
| ------------- |
| Jupyter Lab |
| R studio  |
| Apache Zeppelin  |

*Exercise 7 - Create a markdown cell introducing arithmetic expression examples*

### Below are a few examples of evaluating arithmetic expressions in Python.

a = 2\
b = 3\
c = a + b\
z = a * 2\
d = c /10

*Exercise 8 - Create a code cell to multiply and add numbers*

In [ ]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

*Exercise 9 - Create a code cell to convert minutes to hours*

In [ ]:
#This will convert 200 minutes to hours by diving by 60

minutes = 200
hr_mi = 60
hour = minutes / hr_mi
print(minutes,'Min is',hour,'Hours')

200 Min is 3.3333333333333335 Hours

*Exercise 11 - Create a markdown cell to indicate the Author's name*

## Author
Mohammad Davtalab